<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <body>
        <div>
            <h1 class="top-bar">WoodyChess</h1>
            <div>
                <button type="submit" id="restart" name="action" value="restart">Restart</button>
                <button type="submit" id="undo" name="action" value="undo">Undo</button>
            </div>
            <a class="top-bar" href="/?player=white">
                <button type="submit" name="player" value="white">White</button>
            </a>
            <a class="top-bar" href="/?player=black">
                <button type="submit" name="player" value="black">Black</button>
            </a>
        </div>
        <% if (player==="white") { %>
            <table class="board white">
                <% for (let row = 0; row < 8; row++) { %> 
                <tr class="row-<%=row%>">
                    <% for (let col = 0; col < 8; col++) { %>
                        <td class="col-<%=col%>"></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        <% } %>

        <% if (player==="black") { %>
            <table class="board white">
                <% for (let row = 7; row >= 0; row--) { %> 
                <tr class="row-<%=row%>">
                    <% for (let col = 7; col >= 0; col--) { %>
                        <td class="col-<%=col%>"></td>
                    <% } %>
                </tr>
                <% } %>
            </table>
        <% } %>
        <script 
            src="/js/socket.js"
            board='<%- board ? JSON.stringify(board) : "null" %>'
            player='<%- player ? JSON.stringify(player) : "null" %>'
            cursor='<%- cursor ? JSON.stringify(cursor) : "null" %>'
        ></script>
    </body>
</html>